h1 {
  text-align: center;
  padding-bottom: 40px;
}

h2.intro {
  color: green;
  font-family: cursive;
}

p.intro {
  display: inline-block;
  text-align: left;
  width: auto;
  font-size: 20px;
}

img.intro {
  display: inline-block;
  border-radius: 5px
  width:auto;
}
