.intro {
  font-size: 20px;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

h2 {
  color: green;
}

.intro p {
  width: 30%;
  text-align: left;
}

.intro img {
    width: 60%;
    height: auto;
    float: right;
}
